<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form target="/sign-in" method="post">
    <p>邮箱
        <input type="text" name="uid" id="uid" required maxlength="128">
    </p>
    <p>密码
        <input type="password" name="paswd" id="paswd" required maxlength="32">
    </p>
    <p>用户名
        <input type="text" name="name" id="name" required maxlength="16">
    </p>
    <p>
        <input type="submit" value="登录">
    </p>
</form>
</body>
</html>