<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<body>
<h4>邮箱验证</h4>
<form action="/find-password" method="post">
    <p>
        如果显示的您的邮箱正确，请在下方输入密码并点击验证邮箱<br>
        <input type="text" name="email" id="email" required maxlength="128" th:value="${email}" readonly>
    </p>
    <p>
        在此处输入验证码<br>
        <input type="text" name="code" id="code" required maxlength="10">
    </p>
    <p>
        在此处输入新密码<br>
        <input type="password" name="paswd" id="paswd" required maxlength="32">
    </p>
    <p>
        <input type="submit" value="更改密码">
    </p>
</form>
</body>
</html>